body
{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    margin: 0px;
}

#bloc_page
{
    width: 95%;
    margin: auto;
}

a
{
    text-decoration: none;
    color: #000;
}
/*header*/
header
{
    display: flex;
    height: 100px;
}

.nav_menu
{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
header img
{
    height: 40px;
}

#logo
{
    margin-top: 20px;
}

#menu
{
    display: flex;
    margin: 0;
    padding: 0;
}

nav div
{
    list-style-type: none;
    text-decoration: none;
}

nav a
{
    display: inline-block;
    padding: 35px 30px 0px 30px;
}

nav a:hover
{
    border-top: solid 2.5px #0065fc;
    padding-top: 37px;
}

#inscription
{ 
    color: #0065fc ;
    font-weight: bold;
    padding: 35px 0px 0px 15px;
}
/*header*/

/*zone de recherche*/
.icone_localisation
{
    background-color: #f2f2f2;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 12px 0px 0px 12px;
    margin: 0px -6px 0px 5px;
}


#barre_de_recherche
{
    border: 1.5px solid #f2f2f2;
    font-weight: bold;
    width: 180px;
    height: 40px;
    padding: 0px 8px 0px 8px;
    margin: 0px -4px 0px 0px;
}

.barre_de_recherche span i
{
    display: none;
}

#bouton_recherche
{
    background-color: #0065fc;
    border: none;
    font-weight: bold;
    height: 40px;
    padding: 0px 12px;
    border-radius: 0px 12px 12px 0px;
    color: #FFFFFF;
}

.place_filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.place_filtres h2
{
    margin-right: 5px;
}

.bouton_filtre
{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #f2f2f2;
    border-radius: 19px;
    padding: 0px 15px 0px 10px;
    margin: 0px 20px 0px 20px;
    font-size: 1.1em;
}

.bouton_filtre i
{
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 20px 20px 20px 20px;
    margin-left: -11px;  
    margin-right: 10px; 
    float: left; 
}

input[type="checkbox"].filtres
{
    display: none;
}

.bouton_filtre label
{
    display: contents;
}

input[type="checkbox"].filtres:checked + label , input[type="checkbox"].filtres:hover + label
{
    background-color: #deebff;
    display: flex;
    align-items: center;
    margin-right: -16px;
    padding-right: 15px;
    border-radius: 15px;
}

.texte_filtre
{
    display: flex;
    align-items: center;
}

.texte_filtre i
{
    color: #0065fc;
    border: 1.5px solid #f2f2f2;
    font-size: 0.7em;
    border-radius: 50%;
    padding: 4px 7px 4px 7px;
    margin-right: 10px;
}
/*zone de recherche*/

/*partie hebergement*/
.les_hebergements
{
    display: flex;
}

/*les hebergements*/
.hebergements
{
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 50px;
}

.hebergements h2
{
    margin: 15px 0px 10px 15px;
    padding: 20px 0px 15px 5px;
}

.bloc_hebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.emplacement_hebergement
{
    width: 230px;
    height: 190px;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0px 15px 30px 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px lightgray;
}

.emplacement_hebergement:hover
{
    transform: scale(1.02);
}

.emplacement_hebergement img
{
    object-fit: cover;
    width: 100%;
    height: 102px;
    border-radius: 10px 10px 0px 0px;

}

.informations_hebergement
{
    margin: -5px 0px 5px 5px;
    line-height: 9px;
}

.bold
{
    font-weight: bold;
}

.etoiles_hebergement
{
    color: #0065fc;
    font-size: smaller;
}

.grey
{
    color: #f2f2f2;
}

.afficher_plus
{
    font-weight: bold;
    margin: 10px 0px 10px 45px;
    padding-bottom: 35px;
}
/*les hebergements*/

/*les hebergements populaires*/
.populaire
{
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 15px;  
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre_populaire h2
{
    margin: 15px 0px 10px 15px;
    padding: 20px 0px 15px 5px;
}

.titre_populaire i
{
    margin: 15px 15px 10px 0px;
    padding-right: 20px;
    font-size: 1.5em;
}

.bloc_populaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emplacement_populaire
{
    width: 80%;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0px 15px 30px 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px lightgray;
}

.emplacement_populaire:hover
{
    transform: scale(1.02);
}

.emplacement_populaire img
{
    object-fit: cover;
    width: 40%;
    height: 130px;
    float: left;
    margin-top: -10px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 15px;
}

.informations_populaire
{
    margin: -5px 0px 5px 5px;
    line-height: 17px;
}

.bold
{
    font-weight: bold;
}

.etoiles_populaire
{
    color: #0065fc;
    margin-top: 30px;
    font-size: smaller;
}

.grey
{
    color: #f2f2f2;
}
/*les hebergements populaires*/

/*les activites*/
.activites
{
    margin-top: 60px ;
}

.activites h2
{
    margin-bottom: 30px;
}

.activites h3
{
    margin-left: 15px;
}

.bloc_activite
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 460px;
    margin-bottom: 50px;
}

.activite_medium
{
    width: 22%;
    height: auto;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px #f2f2f2;
}

.activite_medium:hover
{
    transform: scale(1.02);
}

.activite_medium img
{
    object-fit: cover;
    width: 100%;
    height: 415px;
    border-radius: 15px 15px 0px 0px;
}

.activite_pomegues
{
    width: 22%;
    height: 230px;
    margin: 0px 60px 25px 30px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px #f2f2f2;
}

.activite_pomegues:hover
{
    transform: scale(1.02);
}

.activite_pomegues img
{
    object-fit: cover;
    width: 100%;
    height: 185px;
    border-radius: 15px 15px 0px 0px;
}

.activite_frioul
{
    width: 22%;
    height: 170px;
    margin: 35px 50px 0px 30px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px #f2f2f2;
}

.activite_frioul:hover
{
    transform: scale(1.02);
}

.activite_frioul img
{
    object-fit: cover;
    width: 100%;
    height: 125px;
    border-radius: 15px 15px 0px 0px;
}

.activite_garde
{
    width: 22%;
    height: 205px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px #f2f2f2;
}

.activite_garde:hover
{
    transform: scale(1.02);
}

.activite_garde img
{
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
}

.activite_longchamps
{
    width: 22%;
    height: 205px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px #f2f2f2;
}

.activite_longchamps:hover
{
    transform: scale(1.02);
}

.activite_longchamps img
{
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
}
/*les activites*/

/*footer*/
footer
{
    background-color: #f2f2f2 ; 
    padding: 20px 0px 25px 0px;
}

.organisation_footer
{
    display: flex;
}

.colonne_footer
{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 29px;
}

.colonne_footer a
{
    line-height: 30px;
}
/*footer*/

/*media queries pour tablette*/
@media screen and (min-width: 455px) and (max-width: 1290px)
{
   .les_hebergements
   {
       flex-direction: column;
       margin-top: 30px;
   } 

   .populaire
   {
       order: -1;
       width: 100%;
   }

   .bloc_populaire
   {
       flex-direction: row;
   }

   .etoiles_populaire
   {
       margin: auto;
   }
    .hebergements
    {
        width: 100%;
        margin-top: 30px;
    }

   .emplacement_hebergement
   {
       margin-right: 50px;
   }

   .activite_medium 
   {
       margin: auto;
       height: auto;
   }

   .activite_pomegues
   {
       margin: auto;
       margin-bottom: 30px;
   }

   .activite_frioul
   {
       margin: auto;
       margin-top: 29px;
   }

   .activite_garde
   {
       height: auto;
   }

   .activite_longchamps
   {
       margin: auto;
       margin-top: 6px;
   }

}
/*media queries pour tablette*/

/*media queries pour ecran de moins de 830px*/
@media screen and (max-width: 830px)
{
    .place_filtres h2
    {
        width: 100%;
    }
    
    .bouton_filtre
    {
        margin: 0px 25px 10px 0px;
    }

    .bloc_populaire
    {
        flex-direction: column;
    }

    .bloc_activite
    {
        flex-direction: row;
        height: auto;
    }

    .activite_medium 
    {
        order: -1;
        width: 45%;
    }
 
    .activite_pomegues
    {
        margin-top: 30px;
        width: 45%;
    }
 
    .activite_frioul
    {
        width: 45%;
        height: auto;
    }

    .activite_frioul img
    {
        height: 185px;
    }
 
    .activite_garde
    {
        width: 45%;
    }
 
    .activite_longchamps
    {
        width: 45%;
        height: auto;
        margin-top: 0px;
    }
}
/*media queries pour ecran de moins de 830px*/

/*media queries pour smartphones*/
@media screen and (max-width: 455px)
{
    #bloc_page
    {
        width: 100%;
    }
    
    header
    {
        display: flex;
        width: 100%;
        height: 125px;
        flex-wrap: wrap;
    }

    header img
    {
        margin-left: 20px;
    }

    .nav_menu
    {
        order: 3;
        display: flex;
        justify-content: space-around;  
    }

    .nav_menu a
    {
        width: 100%;
        text-align: center;
        border-bottom: solid 2.5px #f2f2f2;
    }

    .nav_menu a:hover
    {
        border-top: none;
        border-bottom: solid 2.5px #0065fc;
        color: #0065fc;
    }

    #inscription
    {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin-right: 20px;
    }

    .recherche
    {
        margin: 15px 20px;
    }
    .recherche h1 + p
    {
        width: 78%;
    }

    .barre_de_recherche
    {
        display: flex;
        flex-wrap: nowrap;
    }

    .barre_de_recherche span i
    {
        display: flex;
        align-items: center;
        background-color: #0065fc;
        border: none;
        font-weight: bold;
        height: 40px;
        padding: 0px 15px;
        border-radius: 12px;
        color: #FFFFFF;
    }

    .barre_de_recherche span input
    {
        display: none;
    }

    .place_filtres
    {
        display: flex;
    }

    .texte_filtre i
    {
        margin-bottom: 17px;
    }

    .les_hebergements
    {
        display: flex;
        flex-direction: column;
    }

    .hebergements
    {
        order: 2;
    }

    .populaire
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    .bloc_populaire
    {
        margin-bottom: 15px;
    }

    .titre_populaire h2
    {
        margin-bottom: 0px;
    }

    .titre_populaire i
    {
        margin-right: 5px;
    }

    .emplacement_populaire
    {
        width: 85%;
        margin-bottom: 15px;
    }

    .emplacement_populaire img
    {
        margin-right: 20px;
    }

    .informations_populaire h3
    {
        margin-bottom: 5px;
    }

    .informations_populaire p
    {
        margin-top: 8px;
        margin-bottom: 38px;
    }

    .hebergements
    {
        background-color: #FFFFFF;
        width: 100%;
    }

    .emplacement_hebergement
    {
        width: 85%;
        box-shadow: 4px 4px 8px lightgray;
        height: auto;
    }

    .afficher_plus
    {
        margin-left: 28px;
        padding-bottom: 0px;
    }

    .activites
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .activites h2
    {
        margin-left: 28px;
    }

    .bloc_activite
    {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: auto;
    }

    .bloc_activite a
    {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: auto;
        margin: auto;
        margin-bottom: 25px;
    }

    .activite_medium img
    {
        height: 130px;
    }

    .activite_pomegues img
    {
        height: 130px;
    }

    .activite_frioul img
    {
        height: 130px;
    }

    .activite_garde img
    {
        height: 130px;
    }
    
    .activite_longchamps img
    {
        height: 130px;
    }

    .organisation_footer
    {
        display: flex;
        flex-direction: column;
    }

    .colonne_footer
    { 
        margin-left: 28px;  
        margin-right: auto;
    }
}
/*media queries pour smartphones*/